<h1>List of Bookmarks</h1>
<ul>
  <%@bookmark.each do |bookmark|%>
    <li><%=bookmark.title %></li>
  <% end %>
</ul>

<form action='/bookmark-saver' method='post'>
    Website: <input type='text' name='website'/>
    Bookmark Name: <input type='text' name='bookmark_name'/>
    <input type='submit' value='Add Bookmark'/>
</form>
