<h1>Bookmark Editor</h1>

<form action="/bookmarks/<%=@bookmark_id%>" method='post'>
    <input type="hidden" name="_method" value="PATCH"/>
    URL: <input type='text' name='url'/>
    Title: <input type='text' name='title'/>
    <input type='submit' value='Submit'/>
</form>
